<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.spinthebottle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spin_the_bottle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spin_the_bottle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Home"
            android:label="Spin The Bottle">
        </activity>

        <activity
            android:name="com.example.user.spinthebottle.Main.Ask_Truth_Dare"
            android:label="Spin The Bottle">
        </activity>

        <activity
            android:name="com.example.user.spinthebottle.Categories.Ask_Own_Question"
            android:label="Spin The Bottle">
        </activity>

        <activity
            android:name="com.example.user.spinthebottle.Questions.Personal"
            android:label="Truth">
        </activity>

        <activity
            android:name="com.example.user.spinthebottle.Categories.Dare"
            android:label="Dare">
        </activity>

        <activity
            android:name="com.example.user.spinthebottle.Questions.Easy"
            android:label="Easy">
        </activity>


            <activity
                android:name="com.example.user.spinthebottle.Questions.Medium"
                android:label="Dare">
            </activity>

        <activity
            android:name="com.example.user.spinthebottle.Categories.Truth"
            android:label="Truth">
        </activity>

        <activity
            android:name="com.example.user.spinthebottle.Questions.Hard_Truth"
            android:label="Truth">
        </activity>


    </application>

</manifest>